
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <div class="d-sm-flex justify-content-center h-100">
      <div class="col-lg-4 card-body text-center">
        <p class="text-muted">
          <i class="material-icons icon-150pt">access_time</i>
        </p>
        <p>
          <strong class="headings-color">
            <%= I18n.t('auth.messages.wellcome_message') %>
          </strong>
        </p>
        <p class="text-muted">
          <%= I18n.t('auth.messages.without_sign_up') %>
        </p>
      </div>

      <div class="col-lg-8 card-form__body card-body">
        <form>
          <div class="form-group">
            <label><%= I18n.t('auth.form.your_email') %>:</label>

            <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              class: "form-control", 
              placeholder: I18n.t('auth.attributes.email') %>

          </div>

          <div class="form-group">
            <label><%= I18n.t('auth.form.your_password') %>:</label>

            <%= f.password_field :password, 
              autocomplete: "current-password",
              class: "form-control",
              placeholder: I18n.t('auth.attributes.password') %>

          </div>

          <%= f.submit "Entrar", class: "btn btn-primary mb-3" %>
          <%= render "employees/shared/links" %>
        </form>
      </div>
    </div>
  </div>
<% end %>
