<div class="mdk-drawer js-mdk-drawer" id="default-drawer" data-align="start">
  <div class="mdk-drawer__content">
    <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
      <div class="sidebar-heading sidebar-m-t">Menu</div>
        <ul class="sidebar-menu">
          <li class="sidebar-menu-item <%= controller.class == HomeController ? "active" : "" %>">
            <a class="sidebar-menu-button" href="<%= root_path %>">
              <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
              <span class="sidebar-menu-text">Dashboard</span>
            </a>
          </li>             
          
          <%= menu(Employee, "person") %>
          <%= menu(TimeRegister, "access_time") %>

          <hr>
          <div class="text-center">
            <%= link_to raw(I18n.t('buttons.logout')), 
              destroy_employee_session_path, class: 'btn btn-danger btn-block', method: :delete %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
