<div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark pr-0" id="navbar" data-primary>
  <div class="container-fluid p-0">
    <!-- Navbar toggler -->
    <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Brand -->
    <a href="<%= root_path %>" class="navbar-brand">
      <span class="navbar-brand-icon" style="width: 40px">
        <i class="material-icons icon-40pt">access_time</i>
      </span>
      <p title="<%= I18n.t('system.description') %>" href="/">
        <%= I18n.t('system.shot_name') %> - 
        <span class="text-primary"><%= I18n.t('system.full_name') %></span>
      </p>
    </a>
    
    <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
      <li class="nav-item dropdown">
        <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
          <span class="ml-1 d-flex-inline">
            <span class="text-light"><%= current_employee.name %></span>
          </span>
        </a>
        <div id="account_menu" class="dropdown-menu dropdown-menu-right">
          <%= link_to raw("<i class='fa fa-sign-out'></i> " << I18n.t('buttons.logout')), 
            destroy_employee_session_path, class: 'dropdown-item', id: 'sign-out', method: :delete %>
        </div>
      </li>
    </ul>

  </div>
</div>